// Utilities
$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "font-size": (
      property: font-size,
      class: fa,
      values: (
        1: 0.7rem,
        2: 0.9rem,
        3: 1.125rem,
        4: 1.2rem,
        5: 1.5rem,
        auto: auto
      ),
    ),
    "width": (
      property: width,
      class: w,
      values: (
        10: 10%,
        15: 15%
      ),
    ),
    "border-width": (
      property: border-width,
      class: border-w,
      values: (
        1: .05rem,
        2: .10rem,
        3: .25rem,
        4: .50rem,
        5: 1rem,
        auto: auto
      )
    ),
  ),
  $utilities
);

// Modified Bootstrap Variables
// $secondary: #ababab;

@import "bootstrap";
// @import "cropperjs";
@import url("https://fonts.googleapis.com/css?family=ABeeZee|Bitter|Bree+Serif|Nunito&display=swap");

body,
html {
  font-family: "ABeeZee", sans-serif;
  background-color: #edf2f5;
//   overflow-x: hidden; /* Prevent scroll on narrow devices */
}
h1,h2,h3,h4,h5 {
  font-family: "Bitter";
}
.text-head {
  color: #354a59;
}
.text-sm {
  font-size: 15px;
}

// Banner
.banner {
  background-color: #8da9ba;
}
.text-banner {
  font-size: 2.4rem;
  font-family: "Bree+Serif";
  text-shadow: -1px 0 #4f5c16, 0 1px #4f5c16, 1px 0 #4f5c16, 0 -1px #4f5c16;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .text-banner {
    font-size: 4rem;
  }
}

.footer {
  background-color: #cdcdd4;
}
.footer-link {
  color: #2d2d6e;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}