// Utilities
$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "font-size": (
      property: font-size,
      class: fa,
      values: (
        1: 0.7rem,
        2: 0.9rem,
        3: 1.125rem,
        4: 1.2rem,
        5: 1.5rem,
        auto: auto
      ),
    ),
    "width": (
      property: width,
      class: w,
      values: (
        10: 10%,
        15: 15%
      ),
    ),
    "border-width": (
      property: border-width,
      class: border-w,
      values: (
        0: 0,
        1: .05rem,
        2: .10rem,
        3: .15rem,
        4: .30rem,
        5: .80rem,
        auto: auto
      )
    ),
    "input-padding": (
      property: padding,
      class: ip,
      values: (
        1: 10px,
        2: 11px,
        3: 12px,
        4: 13px,
        5: 14px,
      )
    ),
  ),
  $utilities
);

// Modified Bootstrap Variables
// $secondary: #ababab;
$body-bg: #edf2f5;
$body-color: #737373;
$dark: #5e5e5e;



@import "bootstrap";
// @import "cropperjs";
@import url("https://fonts.googleapis.com/css?family=ABeeZee|Bitter|Bree+Serif|Nunito&display=swap");

body,
html {
  font-family: "ABeeZee", sans-serif;
//   overflow-x: hidden; /* Prevent scroll on narrow devices */
}
#notifications {
  z-index: $zindex-popover;
  min-width: 200px;
}
.notification {
  min-width: 400px;
}

.bg-navbar {
  background-color: #203a4a;
}
.search {
  background-color: #ededed;
}

.pointer {
  cursor: pointer;
}

h1,h2,h3,h4,h5 {
  font-family: "Bitter";
}
.text-head {
  color: #354a59;
}
.text-sm {
  font-size: 15px;
}
.bg-brand {
  background-color: #5a5f7d;
}
// Banner
$bg-banner: #254a61;
.banner {
  background-color: $bg-banner;
}
.text-banner {
  font-size: 2.4rem;
  font-family: "Bree+Serif";
  background-color: #466d85;
  color: #e2e2e2;
  text-shadow: -1px 0 #cecece, 0 1px #cecece, 1px 0 #cecece, 0 -1px #cecece;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 1024px) {
  .text-banner {
    font-size: 4rem;
  }
}

.footer {
  background-color: #152936;
}
.footer-link {
  color: #2d2d6e;
}
.footer-text {
  color: #bebebe;
}